/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set dark background and text colors */
body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

main{
    display: flex;
    width: 75%;
    height: 15vh;
}

/* Style the map container */
#map {
    height: 400px; /* Set an appropriate height for your map */
    background-color: #444;
    margin: 20px;
    border-radius: 10px;
    /*position: absolute;*/
}

/* Style the footer */
footer {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
